#root {
  max-width: 960px;
  text-align: center;
  margin: auto;
}
#bg {
  display: none;
}
#bgGlobe {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  right: 0;
  width: 20rem;
  mix-blend-mode: overlay;
  z-index: -1;
}
.logoImg {
  height: 12rem;
  align-self: center;
}
#logoImgMobile {
  display: none;
}
.tagline {
  font-weight: 600;
  font-size: 2rem;
  color: #5B3D2D;
  margin-bottom: 1rem;
  /*text-shadow: 3px 3px 0 white, 3px -3px 0 white, -3px 3px 0 white, -3px -3px 0 white, 3px 0px 0 white, 0px 3px 0 white, -3px 0px 0 white, 0px -3px 0 white, 0px 5px 5px #474747;*/
}
.tagline #front {
  position: absolute;
  z-index: 1;
  paint-order: stroke fill;
  -webkit-text-stroke: 6px white;
}
.tagline #back {
  text-shadow: 0 6px 6px #000000;
}
.content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.card{
  display: flex;
  flex-direction: column;
  width: calc(100% - 4rem);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.card.mainCard{
  background-color: rgba(91, 61, 45, 0.75);
  color: white;
}
.dialogCard {
  max-width: 960px;
  width: calc(100% - 6rem);
  background-color: #5B3D2D;
  color: white;
  border: 0;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  text-align: left;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialogCard a { color: inherit; }

#closeButton {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#closeButton:hover {
color: #00a497;
  transition: 0.3s;
}

#ribbonButton {
  position: relative;
  bottom: 2rem;
  z-index: 3;
  height: 5rem;
  cursor: pointer;
  filter: drop-shadow(0px 5px 5px #222);
}

dialog {
  transition: display 1s, overlay 1s;
  transition-behavior: allow-discrete;
  animation: close 1s forwards;
  &[open] {
    animation: open 1s forwards;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*.cardBorder {
  padding: 10px;
  border-radius: 1rem;
  background: transparent;
  border: 10px solid rgba(91, 61, 45, 1);
}*/
.cardHeader{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.cardTitle{
  font-size: 2rem;
  font-weight: 800;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
.socmedRow {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.socmedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5B3D2D;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  font-size: 32px;
  padding: 0.5rem;
  transition: 0.3s;
}
.socmedButton:hover {
  background-color: #7b5e4b;
}
.socmedButton:active {
  background-color: #402b1f;
}

.mainButton{
  display: flex;
  justify-content: center;
  background-color: #00a497;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 2rem;
  flex-grow: 1;
  gap: 1rem;
  border-radius: 2rem;
  padding: 1rem;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.3s;
  flex-basis: 0;
}
.mainButton:hover {
  background-color: #6acbc6;
}
.mainButton:active {
  background-color: #34898b;
}
.buttonRow a {
  text-decoration: none;
}
.socmedRow a {
  text-decoration: none;
}

#goalMeter {
  margin-bottom: 1rem;
  height: 1.5rem;
  width: calc(100% - 1rem);
  background-color: transparent;
  border: #bbbbbb 0.25rem solid;
  padding: 0.25rem;
  border-radius: 1.5rem;
}
#goalMeterComplete {
  background-color: #54b3a1;
  width: 1%;
  height: 100%;
  border-radius: 1.5rem;
  transition: 2s width ease-in-out;
}
.goalMeterData {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: bold;
}
.goalMeterData .fa {
  padding-right: 0.25rem;
}
#goalNameDesktop {
  display: inline;
  font-weight: bold;
}
#goalNameMobile {
  display: none;
  margin-bottom: 1rem;
  font-weight: bold;
}
.tableFlex {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.goalItem {
  display: flex;
  justify-content: space-between;
  background-color: #5B3D2D;
  color: white;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
}
.goalItem.complete {
  background-color: lightgray;
  color: #5B3D2D;
}
.goalItem.complete i {
  color: #1fa715;
}
.goalItem.ongoing {
  background-color: #54b3a1;
}
.goalItemLeft {
  display: flex;
  gap: 0.25rem;
}
.goalItemLeft .fas {
  padding-right: 0.5rem;
}

/*.tableLeft {
  !*display: flex;*!
  text-align: left;
  !*gap: 0.5rem;*!
}
.tableRight {
  text-align: right;
}*/
.FAQitem {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.FAQitem > p {
  margin: 0 0 0.5rem 0;
}
.FAQquestion {
  font-size: 1.2rem;
  font-weight: bold;
}

#credits {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.projectItem {
  display: flex;
  justify-content: space-between;
  border: 0.25rem solid #bbbbbb;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  color: #5B3D2D;
  text-align: left;
  align-items: center;
  transition: 0.3s;
}
.projectItem:hover {
  border-color: #5B3D2D;
}
.projectItemText {
  display: flex;
  gap: 1rem;
}

/* iOS Safari modifications */
@supports (-webkit-touch-callout: none) {
  @media screen and (max-width: 600px) {
    #bg {
      display: block;
      z-index: -2;
      height: 100vh;
      top: 0;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }
}

@media only screen and (max-width: 1200px) {
  #bgGlobe {
    width: 100%;
    max-width: 40rem;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

@media only screen and (max-width: 600px) {
  #goalNameDesktop {
    display: none;
  }
  #goalNameMobile {
    display: inline;
  }
  .projectItemText {
    flex-direction: column;
    gap: 0;
  }
  .buttonRow {
    flex-direction: column;
  }
  #root {
    height: 100vh;
  }
  .logoImg {
    height: auto;
    width: 100%;
  }
  #logoImgDesktop {
    display: none;
  }
  #logoImgMobile {
    display: inline;
  }
  .mainButton {
    padding: 0.75rem;
  }
  #goalsTable {
    gap: 1rem;
  }
  .goalMeterData {
    flex-direction: column;
    justify-content: center;
  }
  .goalItem {
    flex-direction: column;
    justify-content: left;
    gap: 0.5rem;
  }
  .goalItemLeft {
    flex-direction: column;
    text-align: left;
    gap: 0;
  }
  .goalItemRight {
    text-align: left;
  }
/*  .tableLeft {
    flex-direction: column;
  }
  */
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/
